/* Fonts */
/*@font-face {
  src: url("../src/fonts/Montserrat-Regular.ttf") format("ttf");
  font-family: "Montserrat";
}*/
/* Colors */
/* Breakpoints (Media) */
/* Mixin */
/* standards */
body {
  background: #14191f;
  font-size: 16px;
  margin: 0 auto;
}

section {
  height: 100vh;
}

/* Header */
header {
  background-color: #14191f;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  border-bottom: 1px solid #ebebeb;
}

header .navbar-logo {
  color: #ebebeb;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 3rem;
}

header .fa-rect {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

header .navbar-icon {
  display: none;
}

header ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

header a {
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ebebeb;
  background-color: #14191f;
  padding: 0.5rem 0.5rem;
}

header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 960px) {
  header {
    position: relative;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5 ease-in;
    transition: all 0.5 ease-in;
  }
  header ul.active {
    left: 0;
    opacity: 1;
    display: table;
    width: 100%;
    padding: 0;
  }
  header ul.active a {
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    height: 50px;
    font-size: 1.6rem;
    background-color: orange;
    color: #14191f;
    font-weight: 600;
  }
  header ul.active a:hover {
    color: #ebebeb;
    background-color: #14191f;
  }
  header ul.active a::before {
    visibility: hidden;
  }
  header ul.active a:hover::before {
    visibility: hidden;
  }
  header .navbar-logo {
    position: absolute;
    left: 0;
    color: #ebebeb;
    -webkit-transform: translate(25%, 50%);
            transform: translate(25%, 50%);
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  header .navbar-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 60%);
            transform: translate(-100%, 60%);
    font-size: 2rem;
    margin: 0.25rem 2rem 0.5rem 0.5rem;
    cursor: pointer;
    color: #ebebeb;
  }
  header .fa-times {
    color: #ebebeb;
    font-size: 2.5rem;
  }
}

/* About me */
.columns {
  margin: 5rem auto;
  width: 60%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  gap: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.columns p {
  font-size: 1.2rem;
  color: #ebebeb;
}

@media (min-width: 960px) {
  .columns {
    grid-auto-flow: column;
  }
}

/* Typewriter */
.typewriter {
  font-size: 40px;
  color: #ebebeb;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  letter-spacing: 0.05em;
  -webkit-animation: typing 1.75s steps(15, end), blink-caret 0.75s step-end 5;
          animation: typing 1.75s steps(15, end), blink-caret 0.75s step-end 5;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 0.15em solid orange;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 0.15em solid orange;
  }
}

/** Contact **/
h1 {
  font-family: "Poppins", "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

h4 {
  font-family: "Roboto", "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}
/*# sourceMappingURL=App.css.map */